.square {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: royalblue;
}

#text{
    font-size: 20px;
    font-style: oblique;
}

#bg {
    padding: 1rem;
    background-color: rgba(160, 255, 239, 0.527);
    width: 450px;
    height: 150px;
}