body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    width: 30px;
    height: 30px;
    background-color: aqua;
}

h1{
    opacity: 0%;
}