<div class="s"></div>
<div class="ss"></div>

<div id="bg">
    <div class="row">
        <div class="square" id="t1"></div>
        <div class="square" id="t2"></div>
        <div class="square" id="t3"></div>
        <div class="square" id="t4"></div>
        <div class="square" id="t5"></div>
        <div class="square" id="t6"></div>
        <div class="square" id="t7"></div>
        <div class="square" id="t8"></div>
        <div class="square" id="t9"></div>
    </div>
    <span id="title"></span>
    <br>
    <span id="subtitle"></span>
    
</div>