<!DOCTYPE html><html lang="es"><head><meta charset="UTF-8"><title>Main</title>

<!--PLUGINS-->

</head><body style="background: none !important;">

    <style>
        
/*STYLES*/

    </style>

    <main style="overflow: auto;">

<!--HTML-->

    </main>
    
    <script>

    var params = { /*PARAMS*/};
    const main = document.getElementsByTagName('main')[0];
    if(params.width) main.style.width = params.width;
    if(params.height) main.style.height = params.height;
    console.log(params);
/*SCRIPTS*/

    </script>

</body></html>